<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/user-pages.js"></script>

    <!-- EJS Partial Header -->
     <% include ./partials/head %>
  </head>

  <body class="container">
      <% include ./partials/flash %>
    <header>
      <% include ./partials/header %>
    </header>
    <main id="welcome">
      <div class="jumbotron jumbo-welcome" id="welcome-message">
        <h1>Welcome <%= user.username %></h1>
        <!-- <a href="/wargame">War Game</a> -->
      </div>

      <div class="jumbotron blurred-box" id="user-content">
        <div class="user-info-box">
          <% if (user.username) { %>
          <h3>My Recent Games</h3>
          <p></p>
            <table class = 'table'>
              <thead>
                <tr>
                  <th class="text-center" scope="col">Date</th>
                  <th class="text-center" scope="col">Card Game</th>
                  <th class="text-center" scope="col">Winner</th>
                  <th class="text-center" scope="col">Loser</th>
                </tr>
              </thead>
            <% for (let row in gameHistory) {%>
              <% let date = gameHistory[row].created_at %>
              <% if (gameHistory[row].draw == true) {%>
              <tbody>
                <tr class="text-center">
                  <td scope="row"><%=  date.toDateString() %></th>
                <td><%=  gameHistory[row].gametype %></td>
                <td><%=  gameHistory[row].winner %> (draw)</td>
                <td><%=  gameHistory[row].loser %> (draw)</td>
                </tr>
              </tbody>
              <% } else{ %>
              <tbody>
                <tr class="text-center">
                  <td scope="row"><%=  date.toDateString() %></th>
                <td><%=  gameHistory[row].gametype %></td>
                <td><%=  gameHistory[row].winner %></td>
                <td><%=  gameHistory[row].loser %></td>
                </tr>
              </tbody>
              <% }} %>
            </table>
            <% } else {%>
                <p>Hi newbee you need log in or register to play the game</p>
            <% } %>
          </div>
      </div>
    </main>
  </body>
</html>
